*{

    padding:0;

    margin:0;

}

html,

body{

    scroll-behavior: smooth;

    box-sizing:border-box;

    margin:0;

    font-family: var(--theme-font);

}

p{

    font-family: var(--theme-font);

}.navbar-light .navbar-toggler {

    color: #fff !important;

    border-color: #141415 !important;

   background: #fff;

}

.navbar-light .navbar-brand {

    background: #fff;

}

.navbar-light .navbar-toggler-icon {

    filter: invert(1);

border-color: #141415 !important;

   background: #141415;




}

h1,

h2,

h3,

h4,

h5,

h6{

    font-family: var(--theme-font);

}

.section_padding{

    padding:80px 0;

}

.pt_10{

    padding-top:10px;

}

.pb_10{

    padding-bottom:10px;

}

.pb_20{

    padding-bottom:20px;

}

.pt_20{

    padding-top:20px;

}

.p-10{

    padding:10px;

}

:root{

    --theme-font:'Lato', sans-serif;

    /* --primery-color: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%); */

    /* --primery-color: #ffc815; */

    --primery-color: #3c8ca2;

    --dark-color:#fff;

    --white-color:#fff;

}



/* ===================== navbar ================== */

nav.navbar {

    position: absolute;

    z-index: 2;

    width: 100%;

    background: white;

    left: 50%;

    top: 0;

    padding: 15px;

    transform: translateX(-50%);

    /* border-radius: 10px; */

    transition: 0.5s;

}

nav.navbar.active {

    width: 100% !important;

    position:fixed;

    top:0;

    padding:10px;

    background:white;

    border-radius: 0px;

}



/* a.navbar-brand {

    font-size: 30px;

    font-weight: 700;

} */



#banner_slider .swiper-slide {

    height: 100vh;

    position: relative;

    z-index: 1;

    background-size:cover !important;

}

#banner_slider .swiper-slide:after{

    content:'';

    width:100%;

    height:100%;

    background:#0000009e;

    position:absolute;

    top:0;

    left:0;

    z-index: -1;

}



.banner_container{

    position: absolute;

    left: 50%;

    transform: translateX(-50%);

    bottom: 80px;

}



#banner_slider .swiper-slide img {

    height: 100%;

    width: 100%;

    object-fit: cover;

}

#banner_slider .swiper-slide.swiper-slide-active .banner_title{

 animation: fadeInDown 1.5s;

}

#banner_slider .swiper-slide.swiper-slide-active .border_theme_border{

    animation: fadeInUp 1.5s;

   }

   #banner_slider .swiper-slide.swiper-slide-active .degin_text{

    animation: flipInX 1.5s;

   }

   nav.navbar .navbar-nav .nav-item {

    margin-right: 12px;

}

nav.navbar .navbar-nav .nav-item .nav-link{

    font-family: var(--theme-font);

    /* color: var(--white-color); */

    /* text-transform: uppercase; */

    font-weight: 600;

    transition: 0.5s;

    font-size:14px

}

a.navbar-brand img {

    width:210px;

}

nav.navbar .navbar-nav .nav-item .nav-link:hover{

    color:var(--primery-color);

}

a.header_phone {

    text-decoration: none;

    color: #fff;

    padding: 10px 20px;

    background:var(--primery-color);

}



a.header_phone {

    text-decoration: none;

    color: #fff;

    padding: 13px 23px;

    /* border-radius: 8px; */

    background: var(--primery-color);

    font-weight: 600;

}

 

.theme_button{

    background:var(--primery-color) !important;

    color: var(--dark-color) !important;

    transition:0.5s;

    border:1px solid var(--primery-color);

}

.theme_button:hover{

    background:none !important;

    color: var(--dark-color);



}

.ml_30{

    margin-left:30px;

}



span.swiper-pagination-bullet {

    width: 12px;

    height: 12px;

    background: #fff;

}



span.swiper-pagination-bullet.swiper-pagination-bullet-active {

    background: var(--primery-color);

}



.banner_content {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    z-index: 1;

}



.banner_content {

    text-align: center;

}

h2.bhk_3bhk {

    font-size: 22px;

    display: inline-block;

    padding: 10px 15px;

    color: var(--dark-color);

    margin-top: 10px;

    margin-bottom: 15px;

	position: relative;

}

h2.bhk_3bhk:before {

    position: absolute;

    content: '';

    height: 100%;

    width: 10px;

    background: #d4d10e;

    right: calc(100% + -4px);

    top: 0;

    transform: skewX(-18deg);

}

h2.bhk_3bhk:after {

    position: absolute;

    content: '';

    background: #3c8ca2;

    left: 0;

    top: 0;

    width: 100%;

    height: 100%;

    z-index: -1;

    clip-path: polygon(15px 0, 100% 0, calc(100% - 15px) 100%, 0 100%);

}

ul.banner_list {

    padding-left: 0px;

    list-style: none;

    margin-bottom: 21px;

}



ul.banner_list li {

    font-size: 16px;

    font-weight: 400;

    display: block;

    position: relative;

    padding-left: 20px;

    color: var(--white-color);

    padding-right: 10px;

    background: rgba(0,0,0,0.5);

    margin: 0 0 6px 0px;

    padding: 3px 27px;

    width: 44%;

    border-radius: 21px 21px 21px 21px;

}

form.contact-form.banner_form button.header_phone.theme_button:hover{

    color:var(--primery-color) !important;

}

ul.banner_list li:before {

    content: '';

    width: 7px;

    height: 7px;

    border-radius: 50%;

    background: var(--white-color);

    position: absolute;

    left: 8px;

    top: 50%;

    transform: translateY(-50%);

}

.header_border{

        padding-left: 20px !important;

        border-left: 6px solid var(--primery-color);

}

a.header_phone:hover{

    color:var(--primery-color) !important;

}

ul.banner_list li b {

    margin-left: 10px;

}



p.starting_price {

    display: inline-block;

    font-size: 18px;

    margin-bottom: 0;

}

span.sprice {

    font-size: 54px;

    font-weight: 700;

    display: inherit;

}



span.starting {

    display: inline-block;

    line-height: 16px;

    margin-top: 10px;

    padding-bottom: 11px !important;

    margin-bottom: -3px;

    padding: 8px 15px;

    float: left;

    color:var(--dark-color);

    background: var(--white-color);

    border-radius: 4px;

}

.mai_ {

    display: grid;

    grid-template-columns: repeat(1, 1fr);

}

p.starting_price {

    position: relative;

}



span.onwards {

    position: absolute;

    right: -112px;

    bottom: 14px;

    color: var(--primery-color);

    padding: 0px 12px;

    background: #fff;

    border-radius: 4px;

    font-size: 20px;

    padding-bottom: 3px !important;

    color: #121212;

}

.banner_container h3 img {

    width: 30px !important;

    margin-right: 15px;

}



a.border_theme_border {

    display: inline-block;

}



form.contact-form.banner_form {

    max-width: 80%;

    margin-left: auto;

    background: #110f0fd6;

    border: none;

    margin-right: -68px;

    margin-bottom: -37px;

}

.form_title{

    font-size:26px;

    text-align: center;

    color:#fff;

}

form.contact-form.banner_form .advanced-button {

    text-align: center;

}

form.contact-form.banner_form button.header_phone.theme_button {

    padding: 6px 12px;

    height: 45px;

}

form.contact-form.banner_form input {

    margin-bottom: 10px;

    border-radius: 0px;

    height: 45px;

    background: var(--white-color);

    color: #000;

}

h1.banner_title {

    font-size: 48px;

    color: #fff;

    font-weight: 700;

    font-family: var(--theme-font);

    text-transform: uppercase;

}

.banner_container h3 {

    color: #fff;

    font-size: 20px;

}



.container.banner_container {

    color: #fff;

}

a.border_theme_border {

    display: inline-block;

    padding: 13px 25px;

    border: 1px solid var(--primery-color);

    color: #fff;

    font-style: italic;

    font-family: var(--theme-font);

    font-weight: 400;

    text-decoration: none;

    transition:0.5s;

}

a.border_theme_border:hover{

    background:var(--primery-color);

    color:#fff;

}

.degin_text{

    display: flex;

    align-items: center;

    justify-content: center;

    color:#fff;

    text-transform: uppercase;

    padding:15px 0;

}



.degin_text .design {

    width:30px;

}

.degin_text .design span{

    height: 4px;

    width: 100%;

    display: block;

    background:#fff;

    margin-bottom:4px;

}

.degin_text .design span:last-child{

    margin-bottom:0px;

}

/* ===================== navbar ================== */





/*  =============== about ============= */

.img_about_contain {

    display: grid;

    gap: 25px;

    grid-template-columns: repeat(2, 1fr);

}



.img_about_contain img {

    width: 100%;

    height: 364px;

    object-fit: cover;

    border-radius: 10px;

}

.about_img{

    position:relative;

}

.about_dis{

    position: absolute;

    bottom:0;

    padding:20px;

    background:var(--dark-color);

    width: 75%;

    right: 12px;

    display: flex;

}



.about_dis h5 {

    color: #fff;

    font-size: 70px;

    font-weight: 700;

}



.about_dis span {

    color: #7E8BA0;

    margin-left: 15px;

    padding-left: 15px;

    border-left: 1px solid #7E8BA0;

}

.main_content {

    background: url(../img/section-shape.svg);

    display: inline-block;

    background-size: contain;

    background-repeat: no-repeat;

    padding: 29px;

    margin-bottom: 5px;

    color: #000;

    font-weight: 500;

    font-size: 18px;

}



.desc {

    font-size: 15px;

    line-height: 1.7;

    color: #121212;

    font-family: var(--theme-font);

}



.section_title {

    font-size: 59px;

    font-weight: 800;

    margin-bottom: 20px;

    font-family: var(--theme-font);

}

/*  =============== about ============= */



/* ================= amenities ================ */

.amenities-section{

    background:url(../img/am-bg.jpg);

    background-size:cover;

    background-repeat: no-repeat;

   background-position:center center;

}

.amenities-section .section_title {

    margin-bottom: 40px;

}

.amenities_item h4 {

    font-size: 18px;

    padding: 12px 0;

}

.amenities_item {

    margin-bottom: 40px;

}

.amenities_item img {

    width: 100%;

    position: absolute;

    left: 0px;

    border-radius: 18px;

    top: 0px;

}

.amenities_item .ami-block-bg-overlay {

    background-color: transparent;

    background-image: linear-gradient(0deg,#1a1a1a 0%,rgba(26,26,26,1) 10%, rgba(26,26,26,.79) 30%, transparent 100%);

    opacity: .9;

    height: 207px;

    display: flex;

    flex-direction: column;

    justify-content: flex-end;

    padding: 20px;

    transition: background .3s,border-radius .3s,opacity .3s;

	border-radius: 18px;

}

.amenities_item .ami-block-bg-overlay .ami-bg-name {

    display: flex;

    flex-direction: column;

    color: #ffffff;

    font-weight: bold;

    font-size: 15px;

    letter-spacing: 1px;

    border-left: 4px solid var(--colorPrimary);

    padding-left: 5px;

}

div#amenities {

    padding-bottom: 20px;

}

/* ================= amenities ================ */



div, span, a, button, table, tr, th, td, header, footer, ul, ol, li , img{

    position: relative;

    transition: all 0.3s ease;

}



.property-image .property-lable {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    position: absolute;

    left: 50%;

    top: 8px;

    width: 96%;

    transform: translateX(-50%);

}

.badge-md {

    padding: 5px 8px;

    font-size: 13px;

    font-weight: normal;

}

.bg_gradient {

    background: rgb(250,131,1);

    background: linear-gradient(53deg, #f9b404 0%, rgba(250,131,1,1) 100%);

    color: #000;

}

.property-image {

    position: relative;



}

.property-image img{

    width:100%;

}

.property-details {

    background: #ffffff;

    border: 1px solid #eeeeee;

    border-top: none;

}

.property-details .property-details-inner {

    padding: 20px;

}



div#noida_properties .swiper-wrapper {

    margin-bottom: 30px;

}



div#noida_properties span.swiper-pagination-bullet {

    background: #ac7b20;

}

.property-details .property-details-inner .property-title {

    white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis;

    font-size: 26px;

}



.property-details .property-details-inner .property-title a{

    color:#121212;

    text-decoration:none;

    font-weight:600;

}



.property-details .property-details-inner .property-address {

    margin-right: 10px;

    display: block;

    margin-bottom: 10px;

}

span.property-address {

    color: #121212;

}

span.property-address {

    font-size: 16px;

}

.property-details i {

    margin-right: 5px;

    font-size: 14px;

    color:var(--primery-color);

}

span.property-agent-date {

    display: block;

}

span.property-agent-date {

    color: #121212;

    font-size: 16px;

}

span.property-agent-date strong {

    color: var(--primery-color);

    font-size: 18px;

    padding-right: 5px;

}

span.badge.badge-md.bg-info.bg_gradient {

    color: #000;

    font-weight: 400;

}

.property-details .property-price {

    color: var(--primery-color);

    font-size: 24px;

    font-weight: 600;

    font-family: "Barlow Semi Condensed", sans-serif;

    margin-top: 14px;

}

h5#modal_title {

    font-weight: 600;

    font-size: 26px;

}

.color_g{

    color:var(--primery-color) !important;

}



/* ================= price list ================== */

.bg_price{

    background:url(../img/elt-banner.webp);

}

.price_section .price_row {

    margin: auto;

    justify-content: center;

}

.price_section .price_col {

    padding: 0 30px;

}

.price_section .single_price {

    text-align: center;

    border-radius: 20px;

    overflow: hidden;

    margin: auto;

}

.price_section .single_price .typology {

    background: #e7e7e7;

    min-height: 55px;

    display: flex;

    align-items: center;

    justify-content: center;

    color: #333;

    font-size: 16px;

    font-weight: 700;

    margin-bottom: 20px;

    text-transform: uppercase;

    padding: 10px 20px;

    line-height: 22px;

    letter-spacing: 1px;

    max-width: calc(100% - 30px);

    margin: auto;

    border-top-left-radius: 20px;

    border-top-right-radius: 20px;

}

.price_section .single_price .typology {

    padding: 0px 20px;

    line-height: 18px;

    min-height: 50px;

}

.price_section .price_c {

    background: #fff;

    max-width: calc(100% - 30px);

    margin: auto;

    padding: 25px 10px 35px;

    z-index: -2;

}

.price_section .price {

    font-size: 28px;

    line-height: 30px;

}

.price_section .price sup {

    font-weight: 400;

}

.price_section .onw {

    font-size: 14px;

    color: #797979;

    font-weight: 500;

    letter-spacing: 2px;

    text-transform: uppercase;

}

.price_section .single_price .content {

    padding: 30px 10px 20px;

}

.price_section .single_price .content:before {

    position: absolute;

    content: '';

    height: calc(100% + 50px);

    width: calc(100% + 30px);

    background: #fdfdfd;

    left: -15px;

    top: 0;

    z-index: -1;

    transform: skewY(-10deg);

    border-radius: 20px;

    background: #3c8ca2;

}

.price_section .title {

    color: #fff;

    font-size: 14px;

    font-weight: 600;

    text-transform: uppercase;

    letter-spacing: 0.5px;

}

.price_section .sizes p, .price_section .type p {

    font-size: 16px;

    color: #fff;

}

.price_section .type {

    margin-top: 20px;

}

.price_section .call_btn {

    padding: 6px 24px;

    font-size: 14px;

    margin-top: 24px;

    min-height: 42px;

    width: 100%;

    box-shadow: 0 3px 7px rgb(0 0 0 / 25%);

    background: #262121;

    color: #fff;

}

.price_section .call_btn:hover {

	background: #fff;

	color: #000;

}

.dark_btn.rounded {

    border-radius: 100px!important;

}

.price_section .single_price .content:after {

    position: absolute;

    content: '';

    height: 100%;

    width: 90%;

    background: #e7e7e7;

    top: -35px;

    left: 0;

    z-index: -2;

    transform: skewY(-10deg) translateX(-50%);

    padding: 0 30px;

    left: 50%;

}

.price_section .box_price {

    background-color: var(--primery-color);

    padding: 15px;

    text-align: center;

    box-shadow: 0px 5px 5px 0px rgba(79,79,79,0.41);

    -webkit-box-shadow: 0px 5px 5px 0px rgba(79,79,79,0.41);

    -moz-box-shadow: 0px 5px 5px 0px rgba(79,79,79,0.41);

}



.price_section .box_price .box-1 h4 span {

    font-size: 16px;

    color: #000000;

    padding-top: 10px;

    font-weight: 600;

    text-transform: capitalize;

}

.price_button {

    margin-top: 20px;

    margin-bottom: 34px;

}



.price_section .box_price .box-1 {

    background-color: #fff;

    padding: 60px 0px;

}

.price_section .box_price .box-1 h4 {

    display: grid;

    padding: 10px 0px;

    color: #222;

    font-size: 14px;

    text-transform: uppercase;

    font-weight: 700;

}



.bg_price.section_padding.text-center {

    padding-bottom: 156px;

    position: relative;

    z-index:1;

}

.bg_price.section_padding.text-center:after{

    width:100%;

    height:100%;

    content:'';

    background: #0000008a;

    position:absolute;

    top:0;

    z-index: -1;

    left:0;

}



.container.price-container {

    margin-top: -132px;

    z-index: 1;

    margin-bottom: 80px;

    position: relative;

}



a.header_phone.theme_button.d-inline-block.price_button {

    background: #fff !important;

    color: var(--primery-color) !important;

    cursor: pointer;

}

.price_section .box_price .box-1 h2 {

    font-weight: 700;

    color: var(--primery-color);

}

/* ================= price list ================== */



/* ================ plan ============== */

section.plans.section_padding {

    background: url(../img/banner-1.jpg);

    background-size:cover;

    position:relative;

    z-index: 1;

}



section.plans.section_padding:after{

    position:absolute;

    content:'';

    width:100%;

    height:100%;

    background-image:url(../img/circle-bg.png);

    background-color:#000;

    z-index:-1;

    top:0;

    background-size:cover;

    left:0;

}



ul.highpoint {

    list-style: none;

    padding-left: 0px;

}



ul.highpoint li {

    padding-left: 40px;

    position: relative;

    margin-bottom: 10px;

}



ul.highpoint li i {

    position: absolute;

    top: 0;

    left: 0;

    color: #fff;

    background: var(--primery-color);

    min-width: 28px;

    min-height: 28px;

    line-height: 28px;

    text-align: center;

    border-radius: 100%;

    font-size: 12px;

}



.plan_bhk h4 {

    font-size: 24px;

    font-weight: 700;

    color: #fff;

    margin-top: 13px;

    padding-left: 10px;

}



.plan_img {

    border-radius: 8px;

    overflow: hidden;

}





.gallery_img {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    grid-gap: 15px;

}







.gallery_img img {

    height: 218px;

    width: 100%;

    border: 5px solid #fff;

    object-fit: cover;

    box-shadow: 0px 9px 126px rgba(20, 0, 255, 0.06);

    /* border-radius: 4px; */

}





/* ================ plan ============== */



/* ============ location ============= */

.locations{

    background:#f7f7f7;

}

/* ============ location ============= */



.footer {

    /* background-color: #000; */

    padding: 100px 0px;

    padding-bottom:30px;

}



.footer h4 {

    color: #fff;

    font-size: 20px;

    border-left: 4px solid #fff;

    padding-left: 10px;

    /* text-transform: uppercase; */

    margin-bottom: 25px;

}



form.contact-form {

    padding: 20px;

    border: 1px solid #fff;

    /* border-radius: 4px; */

}



.footer .form-control {

    background-color: transparent;

    margin-bottom: 25px;

    border: none;

    border-bottom: 1px solid #c5c5c5;

    border-radius: 0;

    padding-left: 0;

    box-shadow: none;

    color: #fff;

}



.footer .btn-default {

    background-color: #3c8ca2 ;

    width: 100%;

    border: 0;

    color: #fff;

    border-radius: 0;

    margin-top: 15px;

}



footer{

    background:#000;

    position: relative;

}

.homec-shape {

    position: absolute;

    width: 100%;

    top: 0;

    left: 0;

    overflow: hidden;

    height: 100%;

    z-index: 0;

}

.homec-shape-single.homec-shape-10 {

    bottom: 0;

    animation: moving 8s linear infinite;

}



@keyframes moving {

    0% {

      transform: translatey(0px);

    }

    20% {

      transform: translateX(-50px);

    }

    50% {

      transform: translatey(-40px);

    }

    100% {

      transform: translatey(0px);

    }

  }

.footer p {

    color: #ccc;

    font-size: 15px;

    line-height: 24px;

}

input:focus{

    background:none;

}



.f-bottom p {

    font-size: 12px;

    color: #ddd;

}

.f-bottom ul {

    list-style-type: none;

    padding: 0;

}

.f-bottom ul li {

    font-size: 12px;

}



.f-bottom ul li a {

    color: #ddd;

    text-decoration: none;

}

.bg_modal_content{

    background:var(--primery-color);

}



.bg_modal_content h5 {

    font-size: 20px;

    padding: 10px 0;

}



.bg_modal_content h2 {

    font-size: 18px;

}



.bg_modal_content h3 {

    font-size: 18px;

}



.bg_modal_content h3 span {

    display: block;

    background: #fff;

    color: #000;

    width: 50%;

    margin: 0 auto;

    padding: 8px 20px;

    margin-bottom: 12px;

}

button.btn-close {

    float: right;

    margin-top: -15px;

}



.modal-body.p-0 .form-control {

    border-radius: 0px;

    margin-bottom: 10px;

}

button.header_phone.theme_button {

    padding: 10px;

    /* border-radius: 8px; */

}



ul.location_section {

    padding-left: 0px;

    list-style: none;

}

ul.location_section li{

    margin-bottom:15px;

    font-size:18px;

    display: flex;

}



ul.location_section li i {

    color: #fff;

    background: var(--primery-color);

    min-width: 28px;

    min-height: 28px;

    line-height: 28px;

    text-align: center;

    border-radius: 100%;

    font-size: 12px;

    margin-right: 15px;

    float: left;

    max-height: 20px;

}



.mobile-section-2 {

    display: none;

    position: fixed;

    bottom: 0px;

    z-index: 9;

    width: 100%;

    background-color: var(--primery-color);

}



.mobile-section {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

}



.mobile-section a {

    width: 100%;

    border-radius: 0;

    text-align: center;

    color: #fff;

    font-size: 13px;

}



.mobile-section a:nth-child(2) {

    border-right: 1px solid #fff;

    border-left: 1px solid #fff;

}

div#amenities .swiper-slide {

    text-align: center;

}



@media(max-width:992px){

    form.contact-form.banner_form{

        margin: 20px 0 35px 0 !important;

        width:100%;

        max-width:100%;

    }



    .banner_container {

        margin-top: 50px;

        position: inherit;

        left: inherit;

        padding-top:30px;

        transform: translateX(0);

        bottom: inherit;

    }

    #banner_slider .swiper-slide{

        height: auto;

    }

}



@media(min-width:768px) and (max-width:992px){

    .banner_container{

        padding:80px 0;

    }

    h1.banner_title {

        font-size: 36px;

        margin-top: 20px;

    }

    .section_padding {

        padding: 55px 0;

    }

    .section_title{

        font-size:40px;

    }

    .about_dis {

        position: inherit;

        padding: 20px;

        width: 100%;

        align-items: center;

        right: inherit;

        margin:20px 0;

    }

    .about_dis h5{

        font-size:38px;

    }

    .gallery_img{

        grid-gap:10px;

    }

}

@media(min-width:992px) and (max-width:1140px){

    a.navbar-brand {

        width: 175px;

    }

    

    a.navbar-brand img {

        width: 100%;

    }

    nav.navbar .navbar-nav .nav-item {

        margin-right: 5px;

    }

    form.contact-form.banner_form{

        margin-right:0px;

    }

    a.header_phone.theme_button.ml_30.d-none.d-lg-block {

        margin-left: 0;

    }

    nav.navbar{

        padding:10px;

    }

    a.header_phone{

        padding:6px 12px;

    }

}

@media (max-width:767px){

    .mobile-section-2 {display:block;z-index: 999999999;}

a.navbar-brand img {

    width: 202px;

}   

span.sprice {

    font-size: 36px;

}

.img_about_contain {

    margin-bottom: 15px;

}    

    nav.navbar{

        top:0px;

        padding:10px;

        border-radius: 0px;

        width:100%;

    }

    .navbar-brand img {

        width: 230px;

    }

    .nav.navbar .container{

        padding:0px;

    }

    .navbar-brand{

        margin-right:0px;

    }

    

    h1.banner_title{

        font-size:30px;

        margin-top:10px;

    }

    .banner_phone {

        display: inline-block;

        text-align: center;

        font-size: 18px;

    }

    .section_padding {

        padding: 40px 0;

    }

    .section_title{

        font-size:30px;

    }

    .about_dis {

        position: inherit;

        padding: 20px;

        width: 100%;

        align-items: center;

        right: inherit;

        margin:20px 0;

    }

    .about_dis h5{

        font-size:32px;

    }

    .desc{

        margin-bottom:0px;

    }



    .container.price-container .col-md-4 {

        margin-bottom: 20px;

    }

    .container.price-container{

        margin-bottom:15px;

    }

    .price_section .box_price .box-1 {

        padding: 25px 0px;

    }

    .highlight_section .container .row {

        flex-direction: column-reverse;

    }

    .highlight_section .container .row .section_title{

        margin-top:20px;

    }



    .gallery_img {

        display: grid;

        grid-template-columns: 100%;

        grid-row-gap: 10px;

    }

    .gallery_img img:first-child {

        grid-column-start: 1;

        grid-column-end: 1;

        grid-row-start: 1;

        grid-row-end: 1;

    }

    ul.location_section{

        margin-top:15px;

    }

    ul.location_section li {

        margin-bottom: 10px;

        font-size: 16px;

    }

    ul.location_section li i {

        color: #fff;

        background: var(--primery-color);

        min-width: 20px;

        min-height: 20px;

        line-height: 20px;

        text-align: center;

        border-radius: 100%;

        font-size: 9px;

        margin-right: 11px;

    }

    .footer {

        padding: 40px 0px;

    }

}







ul.properties_info {

    padding-left: 0;

    list-style: none;

    padding-top: 15px;

}

ul.properties_info li svg {

    width: 17px;

    margin-right: 10px;

}

ul.properties_info li svg path {

    fill: #ac7b20;

}

/* .accordion-button:not(.collapsed) {

    color: #d3a719!important;

    background-color: #f7f7f7!important;

    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125)!important;

} 

.accordion-button::after {



    content: "\f106"!important;

    font-family: fontawesome!important;

    background-image: none!important;

} */



/ ================= conectvity ============ /



div#accordionExample {

    border: none;

}

.accordion .accordion-item {

    border: none !important;

}



.accordion .accordion-header {

    border: none !important;

}



.accordion .accordion-item {

    border: none;

    margin-bottom: 10px;

}



.accordion .accordion-button:not(.collapsed) {

    box-shadow: none;

    background: #E8E7E2;

    color: #121212;

}



.accordion .accordion-button:not(.collapsed)::after {

    filter: invert(1);

}



.accordion .accordion-button:focus {

    border: none;

    box-shadow: none;

}









@media(max-width:767px){

    .navbar-light .navbar-toggler-icon{

        filter:invert(1);

    }

    .header_border {

        padding-left: 15px !important;

        border: none;

    }

}

@media(max-width:1366px){
    h1.banner_title{
        font-size:40px;
    }
    span.sprice{
        font-size:50px;
    }
    h2.bhk_3bhk{
        font-size:18px;
    }
}

@media(max-width:767px){
    h1.banner_title{
        font-size:28px;
    }
    a.header_phone{
        padding:10px 20px;
        margin-top:20px;
    }
    ul.banner_list li{
        width:100%;
    }
    span.sprice {
        font-size: 36px;
    }
    span.onwards {
        position: absolute;
        right: -99px;
        bottom: 18px;
        color: var(--primery-color);
        padding: 0px 12px;
        background: #fff;
        border-radius: 4px;
        font-size: 16px;
        padding-bottom: 2px !important;
        color: #121212;
    }
    h2.bhk_3bhk {
        font-size: 17px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .img_about_contain img{
        height:160px;
    }
    .price_section .price_col{
        padding:0px;
    }
    .amenities_item .ami-block-bg-overlay{
        height: 160px;
    }
}

@media(max-width:1024px){
    ul.banner_list li{
        width: 100%;
    }
}